basic_script.pl
/koha_fixes/deprecated
/koha_fixes/site_specific
/koha_fixes/cleantools
/old
/old2
/old3
/old_20170408
/mysql
/migration/Generic/deprecated
/migration/Aleph
/migration/Alexandria
/migration/Athena
/migration/csv_to_marc
/migration/CyberTools
/migration/Dynix_Classic
/migration/FileMakerPro
/migration/Follett
/migration/FollettDestiny
/migration/Horizon
/migration/InfoCentre
/migration/KohaForks
/migration/LearningAccess
/migration/LibraryWorld
/migration/Mandarin
/migration/Millenium
/migration/Mondoin
/migration/Sagebrush
/migration/Site_Specific
/migration/Symphony
/migration/TLC
/migration/Voyager
/migration/Winnebago





